<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('.././partials/head') %>
</head>
<body>
    <header><%- include('.././partials/header') %></header>

    <div class="container">
        <div class="mb-1 flex-center">
            <h1><%= idea.title %></h1>
            <a href="/ideas/edit/<%= idea.id %>" class="btn btn-outline-dark a_img_margin">
                <img src="/img/pencil.svg" width="30" height="30" alt="">
            </a>
        </div>
        <div class="text-muted mb-2"><% idea.createdAt.toLocaleDateString() %></div>
        <div><%- idea.sanitizedHtml %></div>
        <a href="/" class="btn btn-secondary">All Ideas</a>
    </div>

    <footer><%- include('.././partials/footer') %></footer>
</body>
</html>
