<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('.././partials/head') %>
</head>
<body>
    <header><%- include('.././partials/header') %></header>

    <div class="container">
        <div class="mb-4 flex-center">
            <h1>Blog Articles</h1>
            <a href="/articles/new" class="a_img_margin">
                <img src="/img/plus-square.svg" width="30" height="30" alt="">
            </a>
        </div>
        <% articles.forEach(article => { %>
            <div class="card mb-5">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="flex-between">
                        <div>
                            <a href="articles/<%= article.id %>" class="btn btn-outline-primary margin01">Read</a> <!-- było id -->
                            <a href="articles/edit/<%= article.id %>" class="btn btn-outline-secondary margin01"> Edit </a>
                        </div>
                        <form action="/articles/<%= article.id %>?_method=DELETE" method="post" class="d-inline margin01">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <footer><%- include('.././partials/footer') %></footer>
</body>
</html>